name: 'Build & Test'

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:

###
### Fast Test on System Perl
###

  ubuntu-system-perl:
    runs-on: ubuntu-latest

    env:
      PERL_USE_UNSAFE_INC: 0
      AUTHOR_TESTING: 1
      AUTOMATED_TESTING: 1
      RELEASE_TESTING: 1

    steps:
      - uses: actions/checkout@v4
      - run: perl -V
      - name: install deps using cpm
        uses: perl-actions/install-with-cpm@v1
        with:
          sudo: false
          global: false
          cpanfile: "cpanfile"
          args: "--with-all"
      - name: Set PERL5LIB to local lib
        run: echo "PERL5LIB=$(pwd)/local/lib/perl5" >> $GITHUB_ENV
      - run: perl Makefile.PL
      - run: make
      - run: make test

###
### macOS
###

  macos:
    runs-on: macos-latest

    env:
      PERL_USE_UNSAFE_INC: 0

    steps:
      - uses: actions/checkout@v4
      - run: perl -V
      - name: install deps using cpm
        uses: perl-actions/install-with-cpm@v1
        with:
          sudo: false
          global: false
          cpanfile: "cpanfile"
          args: "--with-all"
      - name: Set PERL5LIB to local lib
        run: echo "PERL5LIB=$(pwd)/local/lib/perl5" >> $GITHUB_ENV
      - run: perl Makefile.PL
      - run: make
      - run: make test

###
### linux testing multiple Perl versions
###

  perl-versions:
    runs-on: ubuntu-latest
    name: List Perl versions
    outputs:
      perl-versions: ${{ steps.action.outputs.perl-versions }}
    steps:
      - id: action
        uses: perl-actions/perl-versions@v1
        with:
          since-perl: v5.10
          with-devel: true

  linux:
    runs-on: ubuntu-latest
    name: "perl ${{ matrix.perl-version }}"

    needs:
      - ubuntu-system-perl
      - perl-versions

    continue-on-error: ${{ matrix.perl-version == 'devel' }}

    strategy:
      fail-fast: false
      matrix:
        perl-version: ${{ fromJson (needs.perl-versions.outputs.perl-versions) }}

    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@v4
      - run: perl -V
      - name: install deps using cpm
        uses: perl-actions/install-with-cpm@v1
        with:
          sudo: false
          cpanfile: "cpanfile"
          args: "--with-all"
      - name: Set PERL5LIB to local lib
        run: echo "PERL5LIB=$(pwd)/local/lib/perl5" >> $GITHUB_ENV
      - run: perl Makefile.PL
      - run: make
      - run: make test
        env:
          AUTHOR_TESTING: 1
          AUTOMATED_TESTING: 1
          RELEASE_TESTING: 1
